@page "/"

<PageTitle>Home</PageTitle>

@* Am adăugat flex-column pentru a pune elementele unul sub altul și vh-100 pentru a ocupa toată înălțimea ecranului *@
<div class="vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>Hello, world!</h1>

    <p>Welcome to your new app.</p>

    <img src="/images/THEMOVEDBLogo.svg" class="w-25" alt="Logo" />

    <button class="btn btn-primary mt-3">Primary button</button>
</div>